@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="leader">
    <h1 style="color: white;">DEFitech</h1>
    <p class="lead" style="color:white; text-align:center;" >Leading the nation in technological education.</p>
    <br /><br /><br />
</div>

<div class="row">
    <div class="col-md-3">
         <h2 style="color: black">Electronics QQI 5</h2>
        <a href='@Url.Action("index", "Electronics")'>            
            <p><img src="~/Resource/Common/Eng5.jpg" alt="" width="270"></p>
        </a>
        <p style="font-size: 11pt; margin-left: 5pt;">
            Sparks will fly and metal will melt as we get down and dirty in DFEI's Electronics Engineering course!
            Delve the bedrock of electronic signals and instrumentation driving the modern digital/robotic world.
        </p>
    </div>

    <div class="col-md-3">
        <h2 style="color: black">Electronics QQI 6</h2>
        <a href='@Url.Action("ET6", "ET6")'>
            <p><img src="~/Resource/Common/ElecEng.jpg" alt="" width="270"></p>
        </a>
        <p style="font-size: 11pt; margin-left: 5pt;">
            Head deeper down the Electronic rabbit-hole and explore control systems, electronic motors, robotics and more. In DFEI's 
            Electornics Technology 6.
        </p>
    </div>

    <div class="col-md-3">
        <h2 style="color: black">Software Engineering</h2>
        <a href='@Url.Action("ITN6", "ITN6")'>
            <p><img src="~/Resource/Common/SoftEng.jpg" alt="" width="270"></p>
        </a>
        <p style="font-size: 11pt; margin-left: 5pt;">
            Do you dream of opening your own web-store, cracking the kernel, or writing that indie game?
            Then DFEI's Software Development is the place to start. This broad courseline covers multiple languages 
            and architectures. Upon completion you will be ready to work on nearly any system, bleeding edge or legacy.
        </p>
    </div>

    
</div>