@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEFitech</h1>
    <p class="lead">Leading the nation in technological education.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
         <h2 style="color: black">Electronic Engineering</h2>
        <a href='@Url.Action("index", "Electronics")'>            
            <p><img src="~/Resource/Common/ElecEng.jpg" alt="" width="300"></p>
        </a>
        <h3>
            Sparks will fly and metal will melt as we get down and dirty in DFEI's Electronics Engineering course!
            Delve the bedrock of electronic signals and instrumentation driving the modern digital/robotic world.
        </h3>
    </div>

    <div class="col-md-4">
        <h2 style="color: black">Software Engineering</h2>
        <a href='@Url.Action("ITN6", "ITN6")'>
            <p><img src="~/Resource/Common/SoftEng.jpg" alt="" width="300"></p>
        </a>
        <h3>
            Do you dream of opening your own web-store, cracking the kernel, or writing that indie game?
            Then DFEI's Software Development is the place to start. This broad courseline covers multiple languages 
            and architectures. Upon completion you will be ready to work on nearly any system, bleeding edge or legacy.
        </h3>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>