@{  
    ViewBag.Title = "ET6";

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CompHard</title>

    <meta name="keywords" content="" /> 
    <meta name="description" content="" />


}

<body class="ricobody"> <!--Start of the body-->
<div id="wrapper"> </div>
	<div id="header-wrapper">
		<div id="header" class="container"> 
			<div id="logo">
                <br /><br /><br />
				<h1 class="ricoh1">Electronic Techonology ET6</h1>
			</div> <!--End of header design-->			
		</div>		
	</div>

	<div id="page2" class="container"> 	
        <form>
            <img src="~/Resource/eaImages/Pic1.jpg" alt="Pic1" style="width:24%;">
            <img src="~/Resource/eaImages/Pic2.jpg" alt="Pic2" style="width:24%;">
            <img src="~/Resource/eaImages/Pic3.jpg" alt="Pic3" style="width:24%;">
            <img src="~/Resource/eaImages/Pic4.jpg" alt="Pic4" style="width:24%;">
            <h1 class="ricoh1"> ET6 </h1>
            &nbsp
            <p class="ricop">
                This is class ET6, Electronic Technology level 6. This class gives a chance for students to study in the
                electronic industry.
            </p>
            <p class="ricop">
                The course consists of six majour subjects which are Advance Analogue Electronics, Advance Digital Electronics, Electrical Principles, Robotics and Networks.
                Students studies computer programming and will implement circuits using real time applications and design, they will build and test their own control systems.
                We can see this in the above images that one of the students are working on a circuit using a tool.
            </p>
        </form> 
	<div class="ricocolumn1">
    </div>
</div>
<div id="ricofooter"> <!--Bottom of the page-->
	<p>&copy; Emrald Rico Alayon 2016</p>
</div>
    <br /><br />

</body>
