
@{
    ViewBag.Title = "competency";
    <link type="text/css" rel="stylesheet" href="dwStyles.css">
}

<h2>competency</h2>


<div id="frame">
    <div class="heading">
        DFEI Electronics Technology 5
    </div>

    <div id="nav">
        <ul>
            <li>@Html.ActionLink("Home", "index", "Electronics")</li>
            <li>@Html.ActionLink("Location", "location", "Electronics")</li>
            <li>@Html.ActionLink("Staff", "staff", "Electronics")</li>
            <li>@Html.ActionLink("Site Management", "management", "Electronics")</li>
        </ul>
    </div>

    <div class="bar">
        <h1>
            Course Year
            <img src="~/Resource/dwImages/timetable.jpg" alt="">
        </h1>
        <ul>
            <li>Green = Class Start</li>
            <li>Peach = Holiday</li>
        </ul>
    </div>

    <div class="main">
        <div class="tile">
            <p>
                Technology Sector Competency
                <img src="~/Resource/dwImages/Comms.jpg" alt="">
            </p>
            <p>
                <h2>Soft Skills</h2>
                <h3>
                    Knowing how to operate in the tech environment is as
                    important as having the skills to employers today. DFEI ensures
                    it's technology sector graduates are versatile. Prove you know
                    how to cooperate and communicate effectively using the common
                    modes of the technologic sector.
                </h3>
            </p>
            <p>
                <h2>Communications</h2>
                <h3>
                    Students demonstrate their ability and willingness to communicate
                    in a series of situations common in the technology sector. Emphasis is
                    on adherence to	formal business conventions.
                </h3>
            </p>
            <p>
                <h2>Work Experience</h2>
                <h3>
                    What better experience is there than having some? Students earn
                    over 60 hours of real world experience from an employer of their
                    choosing while also gaining instruction from our campus lecturer on the
                    fundamentals of job responsibilities and employment hunting.
                </h3>
            </p>
            <p>
                <h2>Mathematics</h2>
                <h3>
                    DFEI students prove their ability to master the discipline
                    fundamental to all technology. Formulas and principles core to data
                    collection and control feature prominently in our QQI 6 Mathematics
                    course.
                </h3>
            </p>
        </div>
    </div>
</div>


