
@{
    ViewBag.Title = "software";
    <link type="text/css" rel="stylesheet" href="dwStyles.css">
}

<h2>software</h2>


<div id="frame">
    <div class="heading">
        DFEI Electronics Technology 5
    </div>

    <div id="nav">
        <ul>
            <li>@Html.ActionLink("Home", "index", "Electronics")</li>
            <li>@Html.ActionLink("Location", "location", "Electronics")</li>
            <li>@Html.ActionLink("Staff", "staff", "Electronics")</li>
            <li>@Html.ActionLink("Site Management", "management", "Electronics")</li>
        </ul>
    </div>

    <div class="bar">
        <h1>
            Course Year
            <img src="~/Resource/dwImages/timetable.jpg" alt="">
        </h1>
        <ul>
            <li>Green = Class Start</li>
            <li>Peach = Holiday</li>
        </ul>
    </div>

    <div class="main">
        <div class="tile">
            <p>
                Software Engineering
                <img src="~/Resource/dwImages/programming.jpg" alt="">
            </p>
            <p>
                <h2>C 89</h2>
                <h3>
                    DFEI prides itself on deploying graduates with a strong foundational
                    education. C programming ensures our students understand the rules governing the
                    programming languages of today fundamentally.
                </h3>
            </p>
            <p>
                <h3>
                    Ireland's leading universities and tech companies are recruiting people with
                    experience in low-level strongly-typed programming and primitive data conventions.
                    DFEI's C programming courseline caters perfectly to that request.
                </h3>
            </p>

        </div>

    </div>
</div>
