
@{
    ViewBag.Title = "staff";

    <link type="text/css" rel="stylesheet" href="dwStyles.css">
}

<h2>staff</h2>


<div id="frame">
    <div class="heading">
        DFEI Electronics Technology 5
    </div>

    <div id="nav">
        <ul>
            <li>@Html.ActionLink("Home", "index", "Electronics")</li>
            <li>@Html.ActionLink("Location", "location", "Electronics")</li>
            <li>@Html.ActionLink("Site Management", "management", "Electronics")</li>
        </ul>
    </div>

    <div class="bar">
        <h1>
            Course Year
            <img src="~/Resource/dwImages/timetable.jpg" alt="">
        </h1>
        <ul>
            <li>Green = Class Start</li>
            <li>Peach = Holiday</li>
        </ul>
    </div>

    <div class="main">
        <div class="tile">
            <p>Electronics Technology 5 Staff:</p>

            <p>
                <h2>Communications</h2>
                <h3>
                    Niall
                </h3>
            </p>

            <p>
                <h2>Work Experience</h2>
                <h3>
                    Colm
                </h3>
            </p>

            <p>
                <h2>Systems Maintenance</h2>
                <h3>
                    Phil
                </h3>
            </p>

            <p>
                <h2>Digital, Analogue, Control Systems</h2>
                <h3>
                    Ken
                </h3>
            </p>

            <p>
                <h2>Computer Programming</h2>
                <h3>
                    Eugene
                </h3>
            </p>

            <p>
                <h2>Mathematics</h2>
                <h3>
                    Shane
                </h3>
            </p>
        </div>

    </div>
</div>